{% extends 'Event/base.html' %} {% block content %}
<style>
  .btn-success {
    border-radius: 0.7rem;

    height: 3rem;
    font-weight: 900;
    margin: 2rem 1rem;
  }
  .add-evt {
    text-decoration: none;
  }
</style>
<br />
{% if messages %}
<div class="messages">
  {% for message in messages %} {% if message.tags == 'error' %}
  <div class="alert alert-danger">{{ message }}</div>
  {% elif message.tags == 'success' %}
  <div class="alert alert-success">{{ message }}</div>
  {% else %}
  <div class="alert alert-info">{{ message }}</div>
  {% endif %} {% endfor %}
</div>
{% endif %}
<a class="add-evt" href="{% url 'Add' %}">
  <button type="button" class="btn btn-success">Ajouter Evenement</button>
</a>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>State</th>
      <th>nbe_participant</th>
      <th>event_date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for event in e %}
    <tr>
      <td>{{ event.title }}</td>
      <td>{{ event.description }}</td>
      <td>{{ event.category }}</td>
      {% if not event.state %}
      <td><span class="badge badge-danger">Annulé</span></td>
      {% else %}
      <td><span class="badge badge-success">En cours</span></td>

      {% endif %}
      <td>{{ event.nbe_participant }}</td>
      <td>{{ event.event_date }}</td>
      <td>
        <a href="{% url 'D' event.title %}">
          <button type="button" class="btn btn-info">Details</button>
        </a>
        <a href="{% url 'supprimer' event.id %}">
          <button type="button" class="btn btn-danger">Supprimer</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
