{% extends 'Event/base.html' %} {% block content %}

<h1>Ajout d'un evenement</h1>

<form method="post" enctype="multipart/form-data">
  {% if messages %}
  <div class="messages">
    {% for message in messages %} {% if message.tags == 'error' %}
    <div class="alert alert-danger">{{ message }}</div>
    {% elif message.tags == 'success' %}
    <div class="alert alert-success">{{ message }}</div>
    {% else %}
    <div class="alert alert-info">{{ message }}</div>
    {% endif %} {% endfor %}
  </div>
  {% endif %} {% csrf_token %} {{ f.as_p }}
  <input type="submit" value="Ajout" />
  <a href="{% url 'list' %}">
    <input type="button" value="Retour" />
  </a>
</form>
{% endblock %}
