{% extends 'Event/base.html' %} {% block content %}
<style>
  /* Center the title and increase font size */
  body {
    background: azure;
  }
  h1 {
    text-align: center;
  }
  /*Center the form and adjust its width and padding */
  form {
    display: flex;
    flex-direction: column;

    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #5f9ea026;
  }
  .fixed-bottom {
    position: relative;
  }
  /* Style the form inputs */
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
  input[type="button"] {
    background-color: #ca0a0a69;
    color: white;
    text-align: center;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
    width: 100%;
  }
  .badge {
    display: inline-block;
    padding: 0.1em 0.2em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }

  .badge-primary {
    color: #fff;
    background-color: #007bff;
  }
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .alert-success hr {
    border-top-color: #b1dfbb;
  }
  .alert-success .alert-link {
    color: #0b2e13;
  }
</style>
<h1>Ajout d'un evenement</h1>

<form method="post" action="{% url 'Add' %}" enctype="multipart/form-data">
  {% if messages %}
  <div class="messages">
    {% for message in messages %} {% if message.tags == 'error' %}
    <div class="alert alert-danger">{{ message }}</div>
    {% elif message.tags == 'success' %}
    <div class="alert alert-success">{{ message }}</div>
    {% else %}
    <div class="alert alert-info">{{ message }}</div>
    {% endif %} {% endfor %}
  </div>
  {% endif %} {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Ajout" />
  <a href="{% url 'list' %}">
    <input type="button" value="Retour" />
  </a>
</form>
{% endblock %}
