{% extends 'Event/base.html' %} {% block content %}
<style>
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .alert-success hr {
    border-top-color: #b1dfbb;
  }
  .alert-success .alert-link {
    color: #0b2e13;
  }

  .fixed-bottom {
    position: absolute;
  }
</style>
{% if messages %}
<div class="messages">
  {% for message in messages %}
  <div class="alert alert-danger">{{message}}</div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
